@import url('../estilos/indexEstilos.css');

header{
    background: #667eea;
}
header h1 {
    color: #FFF;
}
header p{
    color: #ddd;
}

section{
    border-left: 4px solid  #764ba2;
}
h2{
    color: #865bc2;
}
h3{
    color: #566eda;
}