* {
    margin: 10px;
    box-sizing: border-box;
}

 
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    background:#526ad3;
    border-radius: 10px;
}

header {
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    border-radius: 10px;
    max-width: 1500px;
}

header h1 {
    color: #1a35af;
    font-size: 60px;
    margin-bottom: 0.5rem;
}

header p {
    color: #666;
    font-size: 1.1rem;
}

nav {
    background: rgba(255, 255, 255, 0.9);
    max-width: 1500px;
    border-radius: 10px; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #667eea;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s;
    font-weight: 600;
}

nav a:hover {
    background: #9070e0;
    color: white;
    transform: translateY(-2px);
}


section {
    padding: 5px;
    background: #f8f9fa;
    border-radius: 8px;
    border-left: 4px solid #001cb9;
    max-width: 1600px;
}

h2 {
    color: #0150e2;
    margin-bottom: 1rem;
    font-size: 30px;

}

h3 {
    color: #526de4;
    margin-top: 1.5rem;
    margin-bottom: 0.75rem;
    font-size: 25px;
}

p {
    margin-bottom: 1rem;
    font-size: 17px;
}

ul {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

ul li {
    margin-bottom: 12px;
}

code {
    background: #2d2d2d;
    color: #f8f8f2;
    padding: 7px;
    border-radius: 4px;
    font-family: 'Courier New', monospace;
    font-size: 15px;
}

pre {
    background: #2d2d2d;
    color: #f8f8f2;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
    margin: 1rem 0;
}

pre code {
    padding: 0;
    background: transparent;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    background: white;
}

th, td {
    padding: 0.75rem;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background: #526de4;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

tr:nth-child(even) {
    background: #f8f9fa;
}

tr:hover {
    background: #cbddee;
}

footer {
    background: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

footer p {
    margin-bottom: 0.5rem;
    color: #666;
}

.link-button {
    display: inline-block;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background: #0c4edf;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s;
}

.link-button:hover {
    background: #9070e0;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    
}
